@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Raleway:wght@300;500;700&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

nav h1 a {
    font-weight: bolder;
}

img {
    height: 50vh;
}

#slick-slide-control00::before,
#slick-slide-control01::before, 
#slick-slide-control02::before,
#slick-slide-control03::before,
#slick-slide-control04::before,
#slick-slide-control05::before,
#slick-slide-control10::before,
#slick-slide-control11::before,
#slick-slide-control12::before,
#slick-slide-control13::before,
#slick-slide-control14::before,
#slick-slide-control20::before,
#slick-slide-control21::before,
#slick-slide-control22::before,
#slick-slide-control23::before,
#slick-slide-control24::before {
    color: white;
}